{% extends "gui/base.html" %}

{% block content %}
<div class="block-area">
  <div class="row">
    <div class="col-md-12">
      <h1>{{ node.location }}</h1>
      <h2 class="block-title">{{ node.name }}</a></h2> {{ node.ip }}
    </div>
  </div>

  <div class="row">
    {% for sensor in node.sensors.all %}
      {% for unit in sensor.units.all %}
        <div class="col-md-6">
          <div class="tile">
            <h2 class="tile-title">{{ unit.name }}</h2>
            <!--
            <div class="tile-config dropdown">
            <a data-toggle="dropdown" href="" class="tooltips tile-menu" title="Options"></a>
            <ul class="dropdown-menu pull-right text-right">
              <li><a href="">Refresh</a></li>
              <li><a href="">Settings</a></li>
            </ul>
            </div>
            -->
            <div class="p-10">
              <div id="line-chart" class="main-chart" style="height: 250px"></div>
            </div>
          </div>
        </div>
      {% endfor %}
    {% endfor %}
  </div>

</div>

{% endblock %}

{% block javascript %}
{% endblock %}
