{% extends "gui/base.html" %}

{% block breadcrumb %}
<li><a href="{% url 'dashboard' %}">Dashboard</a></li>
<li class="active">Node</li>
{% endblock %}

{% block page-title %}NODE: {{ node.name }}{% endblock %}

{% block content %}
<div class="block-area">
  <div class="row">
    <div class="col-md-12">
      <h1>{{ node.location }}</h1>
      <h2 class="block-title">{{ node.name }}</a></h2> {{ node.ip }}
    </div>
  </div>

  <div class="row">
      {% for unit in data %}
        <div class="col-md-6">
          <div class="tile">
            <h2 class="tile-title">{{ unit.name }}</h2>
            <!--
            <div class="tile-config dropdown">
            <a data-toggle="dropdown" href="" class="tooltips tile-menu" title="Options"></a>
            <ul class="dropdown-menu pull-right text-right">
              <li><a href="">Refresh</a></li>
              <li><a href="">Settings</a></li>
            </ul>
            </div>
            -->
            <div class="p-10">
              <div id="{{ unit.name }}" class="main-chart" style="height: 250px"></div>
            </div>
          </div>
        </div>
    {% endfor %}
  </div>

</div>

{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(function() {
  {% for unit in data %}
  $.plot("#{{ unit.name }}", [
      {{ unit.measurements }}
    ], {
    xaxis: {
      mode: "time"
    }
  });
  {% endfor %}
});
</script>
{% endblock %}
